<?xml version="1.0" ?>
<?xml-stylesheet type='text/xsl' href='interface.xsl'?>
<interface
	xmlns="http://zero-install.sourceforge.net/2004/injector/interface"
	xmlns:compile="http://zero-install.sourceforge.net/2006/namespaces/0compile"
	xmlns:release="http://zero-install.sourceforge.net/2007/namespaces/0release">

	<name>gup</name>
	<summary>gup</summary>
	<description>
	</description>
	<feed-for interface="http://gfxmonk.net/dist/0install/DONT_PUBLISH.xml"/>

	<group>
		<environment insert="python" name="PYTHONPATH" mode="prepend"/>
		<requires interface="http://repo.roscidus.com/python/python"/>
		<requires interface="http://gfxmonk.net/dist/0install/python-which.xml"/>
		<requires interface="http://gfxmonk.net/dist/0install/mocktest.xml"/>

		<command name="test">
			<runner interface="http://gfxmonk.net/dist/0install/nosetests-runner.xml"/>
			<arg>--with-doctest</arg>
		</command>

		<command name="test-py2">
			<requires interface="http://repo.roscidus.com/python/python">
				<version before="3"/>
				<executable-in-path name="python"/>
			</requires>
			<runner interface="http://gfxmonk.net/dist/0install/nosetests-runner.xml" command="run-py2"/>
			<arg>--with-doctest</arg>
		</command>

		<command name="test-py3">
			<requires interface="http://repo.roscidus.com/python/python">
				<version not-before="3"/>
				<executable-in-path name="python"/>
			</requires>
			<runner interface="http://gfxmonk.net/dist/0install/nosetests-runner.xml" command="run-py3"/>
			<arg>--with-doctest</arg>
		</command>

		<!-- minimal test commands run without nosetests plugins,
		     which don't often work so well on windows -->
		<command name="test-min">
			<runner interface="http://gfxmonk.net/dist/0install/nosetests-runner.xml" command="core"/>
		</command>

		<implementation version="{version}" released="{date}">
			<manifest-digest/>
			<archive href="{archive}"/>
		</implementation>
	</group>

</interface>

